:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/*body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}*/


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: sans-serif;
}

.calculator {
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#display {
  width: calc(100% - 20px);
  margin-bottom: 15px;
  padding: 15px;
  font-size: 24px;
  text-align: right;
  border: none;
  background-color: #444;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #555;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #666;
}

button:active {
  background-color: #777;
}

button:last-child {
  grid-column: span 1; 
}

button:nth-child(4n) { 
  background-color: #ffa500;
  color: white;
}

button:nth-child(4n):hover {
  background-color: #ffb326;
}

button:nth-child(1), button:nth-child(2) { 
  background-color: #f44336;
  color: white;
}

button:nth-child(1):hover, button:nth-child(2):hover {
  background-color: #f6685e;
}






@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
